.checkoutProduct {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  height: 200px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-top: 10px;
  cursor: pointer;
}

.checkoutProduct__image {
  height: 180px;
  width: 180px;
  object-fit: contain;
  align-items: center;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 18px;
  font-weight: 600;
}

.checkoutProduct__header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.checkoutProduct__price {
  font-size: 18px;
  font-weight: 750;
}

.checkoutProduct__button {
  border-radius: 200px;
  height: 30px !important;
  width: 30px !important;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #e2e2e2;
  border-color: black;
  border-width: 1px;
}

.checkoutProduct__change {
  display: flex;
}

@media only screen and (min-width: 500px) {
  .checkoutProduct__title {
    font-size: small;
  }

  .checkoutProduct__price {
    font-size: small;
  }
}
