.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background: linear-gradient(180deg, #fae9d9 1%, #f8d3b1 100%);
  z-index: 1;
  box-shadow: rgba(255, 208, 165, 0.69) 0px 26px 30px -10px,
    rgba(58, 34, 8, 0.73) 0px 16px 10px -10px;
}

.product__rating {
  display: flex;
  margin-right: 2px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #eec185;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.product:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 20px 24px -6px,
    rgba(161, 153, 138, 0.50) 0px 10px 8px -10px;
  transform: scale(1.02);
  border: 2px solid;
  border-color: rgb(46, 46, 46);
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
  font-weight: 200;
  font-size: large;
}

@media only screen and (max-width: 800px) {
  .product > img {
    max-height: 100px;
  }

  .product__info {
    font-size: medium;
  }

  .product__rating {
    size: 5px;
  }
}

